p {color: gray;}
li{border: dashed blue 1px;}


.graa {background: gray; color: green;}
.green{background: green;}

#firstMenu { font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
#secondMenu {font-family: Arial, Helvetica, sans-serif}

h1 { border: 2px solid green !important; }

h2 {width: 400px; height: 45px; margin-left:20px; padding:20px;}


a:hover {
    text-decoration: underline; 
    font-size: 30px;
}