
#Overskrift{
    font-family: 'Nixie One', cursive;
    color: gray;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
 }
#Overskrift2{
    font-family: 'Nixie One', cursive;
    font-size: 20px;
    color: gray;
    line-height: normal;
    margin: 0;
}

 #Helvetica{font-family: Helvetica, sans-serif;}

